<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Racing cars</title>
</head>
<body>

<table class="wikitable sortable jquery-tablesorter" style="font-size: 90%;">
    <thead>
    <tr>
        <th style="width:12%;" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Manufacturer</th>
        <th style="width:20%;" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Model</th>
        <th style="width:13%;" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Years</th>
        <th style="width:15%;" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Styles</th>
        <th style="width:15%;" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Country of Origin</th>
        <th style="width:18%;" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="/wiki/Abarth" title="Abarth">Abarth</a></td>
        <td><a href="/wiki/Abarth_205" title="Abarth 205">205</a></td>
        <td>1950-1951</td>
        <td>Coupé</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Abarth" title="Abarth">Abarth</a></td>
        <td><a href="/wiki/Fiat_500_(2007)#Abarth_500" title="Fiat 500 (2007)">595</a></td>
        <td>2008–present</td>
        <td>Coupé</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Abarth" title="Abarth">Abarth</a></td>
        <td><a href="/wiki/Porsche_356" title="Porsche 356">Porsche 356B Carrera GTL Abarth</a></td>
        <td>1960</td>
        <td>Coupé</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Abarth" title="Abarth">Abarth</a></td>
        <td><a href="/wiki/Fiat_850" title="Fiat 850">Fiat Abarth 850 TC Berlina</a></td>
        <td>1964–1973</td>
        <td>Roadster, Coupé</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/AC_Cars" title="AC Cars">AC Cars</a></td>
        <td><a href="/wiki/AC_3000ME" title="AC 3000ME">3000ME</a></td>
        <td>1979-1984</td>
        <td>Coupé</td>
        <td>England</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/AC_Cars" title="AC Cars">AC Cars</a></td>
        <td><a href="/wiki/AC_Ace" title="AC Ace">Ace</a></td>
        <td>1953–1963</td>
        <td>Roadster</td>
        <td>England</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/AC_Cars" title="AC Cars">AC Cars</a></td>
        <td><a href="/wiki/AC_Aceca" title="AC Aceca">Aceca</a></td>
        <td>1954–1963</td>
        <td>Coupé</td>
        <td>England</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/AC_Cars" title="AC Cars">AC Cars</a></td>
        <td><a href="/wiki/AC_Cobra" title="AC Cobra">Cobra</a></td>
        <td>1961-1969</td>
        <td>Roadster</td>
        <td>England</td>
        <td>Also known as Shelby Cobra</td>
    </tr>
    <tr>
        <td><a href="/wiki/AC_Propulsion" title="AC Propulsion">AC Propulsion</a></td>
        <td><a href="/wiki/AC_Propulsion_tzero" title="AC Propulsion tzero">AC Propulsion tzero</a></td>
        <td>1997-2003(prototypes only)</td>
        <td>roadster</td>
        <td>United States</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Acura" title="Acura">Acura</a></td>
        <td><a href="/wiki/Honda_NSX" title="Honda NSX">NSX</a></td>
        <td>1990-2005</td>
        <td>Coupé, Targa</td>
        <td>Japan</td>
        <td>Also known as the Honda NSX</td>
    </tr>
    <tr>
        <td><a href="/wiki/Acura" title="Acura">Acura</a></td>
        <td><a href="/wiki/Acura_NSX_(2015)" class="mw-redirect" title="Acura NSX (2015)">NSX (2015)</a></td>
        <td>2016–present</td>
        <td>Coupé</td>
        <td>United States</td>
        <td>no known Honda version planned</td>
    </tr>
    <tr>
        <td><a href="/wiki/Alfa_Romeo" title="Alfa Romeo">Alfa Romeo</a></td>
        <td><a href="/wiki/Alfa_Romeo_4C" title="Alfa Romeo 4C">4C</a></td>
        <td>2013–present</td>
        <td>Coupé, Roadster</td>
        <td>Italy</td>
        <td>one of the few Alfa Romeos to be available in North America before anywhere else</td>
    </tr>
    <tr>
        <td><a href="/wiki/Alfa_Romeo" title="Alfa Romeo">Alfa Romeo</a></td>
        <td><a href="/wiki/Alfa_Romeo_6C" title="Alfa Romeo 6C">6C</a></td>
        <td>1925–1954</td>
        <td>Roadster</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alfa_Romeo" title="Alfa Romeo">Alfa Romeo</a></td>
        <td><a href="/wiki/Alfa_Romeo_8C" title="Alfa Romeo 8C">8C</a></td>
        <td>1931–1939</td>
        <td>Roadster</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alfa_Romeo" title="Alfa Romeo">Alfa Romeo</a></td>
        <td><a href="/wiki/Alfa_Romeo_8C_Competizione" title="Alfa Romeo 8C Competizione">8C Competizione</a></td>
        <td>2007–2010</td>
        <td>Roadster, Coupé</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alfa_Romeo" title="Alfa Romeo">Alfa Romeo</a></td>
        <td><a href="/wiki/Alfa_Romeo_RL" title="Alfa Romeo RL">RL</a></td>
        <td>1922–1927</td>
        <td>Roadster</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alfa_Romeo" title="Alfa Romeo">Alfa Romeo</a></td>
        <td><a href="/wiki/Alfa_Romeo_Spider" title="Alfa Romeo Spider">Spider</a></td>
        <td>1966–1993</td>
        <td>Roadster</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alfa_Romeo" title="Alfa Romeo">Alfa Romeo</a></td>
        <td><a href="/wiki/Alfa_Romeo_SZ" title="Alfa Romeo SZ">SZ</a></td>
        <td>1989–1991</td>
        <td>Coupé</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alfa_Romeo" title="Alfa Romeo">Alfa Romeo</a></td>
        <td><a href="/wiki/Alfa_Romeo_SZ" title="Alfa Romeo SZ">RZ</a></td>
        <td>1992–1994</td>
        <td>Roadster</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alfa_Romeo" title="Alfa Romeo">Alfa Romeo</a></td>
        <td><a href="/wiki/Alfa_Romeo_GTV_and_Spider" title="Alfa Romeo GTV and Spider">Spider (916)</a></td>
        <td>1995–2006</td>
        <td>Roadster</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alfa_Romeo" title="Alfa Romeo">Alfa Romeo</a></td>
        <td><a href="/wiki/Alfa_Romeo_GTV_and_Spider" title="Alfa Romeo GTV and Spider">GTV (916)</a></td>
        <td>1995–2005</td>
        <td>Coupé</td>
        <td>Italy</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alpine_(automobile)" title="Alpine (automobile)">Alpine</a></td>
        <td><a href="/wiki/Alpine_A106" title="Alpine A106">A106</a></td>
        <td>1955–1961</td>
        <td>Coupé</td>
        <td>France</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alpine_(automobile)" title="Alpine (automobile)">Alpine</a></td>
        <td><a href="/wiki/Alpine_A108" title="Alpine A108">A108</a></td>
        <td>1958-1965</td>
        <td>Coupé</td>
        <td>France</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alpine_(automobile)" title="Alpine (automobile)">Alpine</a></td>
        <td><a href="/wiki/Alpine_A110" title="Alpine A110">A110</a></td>
        <td>1961-1977</td>
        <td>Coupé</td>
        <td>France</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Alpine_(automobile)" title="Alpine (automobile)">Alpine</a></td>
        <td><a href="/wiki/Alpine_A310" title="Alpine A310">A310</a></td>
        <td>1971–1984</td>
        <td>Coupé</td>
        <td>France</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Ariel_Motor_Company" title="Ariel Motor Company">Ariel</a></td>
        <td><a href="/wiki/Ariel_Atom" title="Ariel Atom">Atom</a></td>
        <td>2000—Present</td>
        <td>Roadster</td>
        <td>England</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Arrinera" title="Arrinera">Arrinera</a></td>
        <td><a href="/wiki/Arrinera_Hussarya" title="Arrinera Hussarya">Hussarya</a></td>
        <td>2013–Present</td>
        <td>Coupé</td>
        <td><a href="/wiki/Poland" title="Poland">Poland</a></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Artega_Automobile" title="Artega Automobile">Artega</a></td>
        <td><a href="/wiki/Artega_GT" title="Artega GT">GT</a></td>
        <td>2009-2012</td>
        <td>Coupé</td>
        <td>Germany</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Ascari_Cars" title="Ascari Cars">Ascari</a></td>
        <td><a href="/wiki/Ascari_Ecosse" title="Ascari Ecosse">Ecosse</a></td>
        <td>1998–1999</td>
        <td>Coupé</td>
        <td>England</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Ascari_Cars" title="Ascari Cars">Ascari</a></td>
        <td><a href="/wiki/Ascari_KZ1" title="Ascari KZ1">KZ1</a></td>
        <td>2003–pesent</td>
        <td>Coupé</td>
        <td>England</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Ascari_Cars" title="Ascari Cars">Ascari</a></td>
        <td><a href="/wiki/Ascari_KZ1" title="Ascari KZ1">KZ1-R</a></td>
        <td>2005–present</td>
        <td>Coupé</td>
        <td>England</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Ascari_Cars" title="Ascari Cars">Ascari</a></td>
        <td><a href="/wiki/Ascari_A10" title="Ascari A10">A10</a></td>
        <td>2006–present</td>
        <td>Coupé</td>
        <td>England</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Aspid_GT-21_Invictus" title="Aspid GT-21 Invictus">Aspid</a></td>
        <td><a href="/wiki/Aspid_GT-21_Invictus" title="Aspid GT-21 Invictus">Aspid GT-21 Invictus</a></td>
        <td>2013–present</td>
        <td>Coupé</td>
        <td>Spain</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Aspid_GT-21_Invictus" title="Aspid GT-21 Invictus">Aspid</a></td>
        <td><a href="/wiki/IFR_Aspid" title="IFR Aspid">IFR Aspid</a></td>
        <td>????-????</td>
        <td>Coupé</td>
        <td>Spain</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Aston_Martin" title="Aston Martin">Aston Martin</a></td>
        <td><a href="/wiki/Aston_Martin_Vantage" title="Aston Martin Vantage">Vantage</a></td>
        <td>2005–present</td>
        <td>Coupé, Roadster</td>
        <td>United Kingdom</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Audi" title="Audi">Audi</a></td>
        <td><a href="/wiki/Audi_R8" title="Audi R8">R8</a></td>
        <td>2006–present</td>
        <td>Coupé</td>
        <td>Germany</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Audi" title="Audi">Audi</a></td>
        <td><a href="/wiki/Audi_TT" title="Audi TT">TT</a></td>
        <td>1998–present</td>
        <td>Coupé</td>
        <td>Germany</td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/wiki/Austin_Motor_Company" title="Austin Motor Company">Austin</a></td>
        <td><a href="/wiki/Austin_7" title="Austin 7">7</a></td>
        <td>1922–1939</td>
        <td>Roadster</td>
        <td>England</td>
        <td></td>
    </tr>
    </tbody>
    <tfoot></tfoot>
</table>

</body>
</html>
